/* AddProduct.css */

.add-product-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
.complete{
  margin-top: -10%;
}

.form-group {
  margin-bottom: 20px;
}
.Submit{
  margin-top: -5%;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #25d366;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #128c7e;
}
