/* login.css */

.LoginMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17%;
}

.LoginSemiMain {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(51, 48, 48);
}
.signin{
  font-size:x-large;
  font-weight: 800;
}
.welcomeback{
  font-size: larger;
  margin-bottom: 2%;
}

.LoginEmail {
  /* width: 100%; */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.Login {
  background-color: #1976D2;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 76%;
  margin-top: -10%;
}
.Login:hover{
  
  background-color: #2f89e2;
  color: #fff;
}

.LoginEmail1:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.noAccount{
  color: #4679a5;
  margin-top: 3%;
  cursor: pointer;
}
.regButton{
  color: #87aed1;
}
.regButton:hover{
  color:  #4679a5;
}
.add-button{
  color: #2f89e2;
}