
.LandingTopNav{
  position: fixed;
  z-index: 1000;
  background-color: #f5f7f5;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
}
.Landing{
  display: flex;
}
  
  .LandingPageTopNavText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0;
    padding: 0 20px;
  }

  
  
  .LandingPageTopNavText ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .Landing {
    /* margin: 0 25px; */
    font-size: 1.1rem;
    color: #1565C0; 
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .LandingPageTopNavText ul li:hover {
    color: #1565C0; 
    font-size: 1.05rem;
  }
  
  .LandingPageTopNavText ul li.contact {
    font-weight: bold;
  }
  